<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
      <div class = "container">

      <div class="panel panel-default">
      <% @posts.each do |post| %>
      <div class="panel-heading">

      <h3 class="panel-title heading"><%= link_to post.title, user_post_path(post.user, post) %>
      <h5><%= link_to post.user.email, user_posts_path(post.user) %></h5>
      <%= post.created_at %>
      </h3>
      </div>
      <div class="panel-body bottomspace">
        <%= link_to post.body, user_post_path(post.user, post) %>
      </div>
      <% end %>
      </div>
    </div>
    <div class = "share">
    <%= facebook_button %>
  </div>
  </body>
</form>
</html>
